@use "abstract/api" as *;
@use "third-party/normalize";
@use "components/button";
@use "components/header";
@use "components/sidemenu";
@use "components/text";
@use "sections/hero-section";
@use "sections/what-we-do";
@use "sections/ai-section";

html {
  font-size: 62.5%;
}

body {
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-size: $font-size-sm;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: $font-weight-normal;
  margin: 0;
}

main {
  max-width: 140rem;
  margin: 0 auto;
}
