@use "abstract/api" as *;
@use "third-party/normalize";
@use "components/button";
@use "components/header";
@use "components/sidemenu";
@use "components/text";
@use "components/slider";
@use "sections/hero";
@use "sections/what-we-do";
@use "sections/ai";
@use "sections/who-is-it-for";
@use "sections/customer";
@use "sections/establishment";

html {
  font-size: 62.5%;
}

body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-size: $font-size-sm;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: $font-weight-normal;
  margin: 0;
}

.section {
  padding: 8rem 10rem;

  @include respond-below(lg) {
    padding-left: 6.4rem;
    padding-right: 6.4rem;
  }

  @include respond-below(xs) {
    padding: 8rem 2rem;
  }
}

.section-title {
  @include respond-below(xs) {
    font-size: 3.6rem;
  }
}

.section-inner {
  max-width: 144rem;
  width: 100%;
  margin: 0 auto;
  gap: 4rem;
}

.section-header {
  gap: 2.4rem;

  @include respond-below(xs) {
    gap: 1.6rem;
  }
}

.section-paragraph {
  @include respond-below(xs) {
    font-size: 2rem;
  }
}
