@use "../abstract/api" as *;

.ai-section {
  background-color: $bg-color-primary;

  .section-inner {
    gap: 6.4rem;
  }

  .section-header {
    p {
      max-width: 67.8rem;
    }
  }

  .ai-grid {
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto auto auto;
    gap: 2.4rem;
    align-items: center;
    justify-items: center;
    max-width: 90rem;
    width: 100%;
    margin: 0 auto;
  }

  .ai-grid__center {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16.4rem;
    height: 16.4rem;
    border-radius: 50%;
    background: radial-gradient(
      circle,
      rgba(#be86f7, 0.15) 0%,
      transparent 70%
    );
    z-index: 10;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .ai-card {
    position: relative;
    min-width: 26rem;
    z-index: 2;

    &--top {
      grid-column: 2;
      grid-row: 1;
    }

    &--right {
      grid-column: 3;
      grid-row: 2;
    }

    &--bottom {
      grid-column: 2;
      grid-row: 3;
    }

    &--left {
      grid-column: 1;
      grid-row: 2;
    }
  }

  .dot {
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
  }

  .top {
    bottom: -1rem;
    background-color: #64b5e8;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .right {
    top: 50%;
    left: -0.3rem;
    transform: translate(-50%, -50%);
    background-color: #9095f5;
  }

  .bottom {
    top: -0.3rem;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4ec3e1;
  }

  .left {
    top: 50%;
    right: -0.9rem;
    transform: translate(-50%, -50%);
    background-color: #7ce0ff;
  }

  .ai-card__content {
    position: relative;
    border-radius: 1.2rem;
    padding: 2rem;
    gap: 1.2rem;
    background-color: $bg-color-inverse;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: inherit;
      padding: 0.2rem;
      background: linear-gradient(135deg, #ae7aff 0%, #7ce0ff 100%);
      mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      mask-composite: exclude;
      pointer-events: none;
    }
  }

  .ai-card__title {
    gap: 1.2rem;
  }

  .ai-card__list {
    list-style: disc;
    padding-left: 2rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }

  .ai-grid-connector {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 62rem;
    height: 44rem;
    border: 2px dashed #98a7ff;
    border-radius: 2.4rem;
    mask: conic-gradient(
      from 0deg at 50% 0%,
      #000 var(--border-angle),
      transparent 0
    );
    animation: draw-border 4s ease-in-out infinite;
  }

  .ai-grid-connector-inner {
    width: 34rem;
    height: 25rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -46%);

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      width: 2px;
      transform: translateX(-50%);
      background: repeating-linear-gradient(
        to bottom,
        #61b5e7 0,
        #61b5e7 6px,
        transparent 4px,
        transparent 8px
      );
      mask: linear-gradient(to bottom, #61b5e7, #a3bcff);
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      height: 2px;
      transform: translateY(-50%);
      background: repeating-linear-gradient(
        to right,
        #61b5e7 0,
        #61b5e7 6px,
        transparent 4px,
        transparent 8px
      );
      mask: linear-gradient(to right, #61b5e7, #a3bcff);
    }
  }

  @include respond-below(md) {
    .section-inner {
      align-items: center;
    }

    .section-header {
      max-width: 49rem;
    }

    .ai-card__subtitle,
    .ai-card__list li span {
      font-size: 1.2rem;
    }

    .ai-card {
      min-width: 18rem;

      &--left {
        grid-column: 1;
        grid-row: 2;
        margin-right: -6rem;
      }

      &--right {
        grid-column: 3;
        grid-row: 2;
        margin-left: -6rem;
      }
    }

    .ai-card__content {
      padding: 1.2rem;
    }

    .ai-grid__center {
      width: 10rem;
      height: 10rem;
    }

    .ai-grid-connector {
      width: 47rem;
      height: 39rem;

      &-inner {
        width: 33rem;
        height: 23.5rem;
        transform: translate(-50%, -45%);
      }
    }

    .ai-grid {
      gap: 1.2rem;
    }
  }

  @include respond-below(730) {
    &.section {
      padding: 8rem 0;
    }

    .section-header {
      padding: 0 6.4rem;
      max-width: 100%;
    }
  }

  @include respond-below(xs) {
    .section-inner {
      gap: 4rem;
    }

    .section-header {
      padding: 0 2rem;
    }

    .ai-card__title {
      p {
        font-size: 1rem;
      }
    }

    .ai-card__subtitle,
    .ai-card__list li span {
      font-size: 0.8rem;
    }

    .ai-card {
      min-width: 14.4rem;

      &--left {
        grid-column: 1;
        grid-row: 2;
        margin-right: -6rem;
      }

      &--right {
        grid-column: 3;
        grid-row: 2;
        margin-left: -6rem;
      }
    }

    .ai-card__content {
      padding: 0.8rem;
    }

    .ai-grid__center {
      width: 5.6rem;
      height: 5.6rem;
    }

    .ai-grid-connector {
      width: 34rem;
      height: 34rem;

      &-inner {
        width: 18rem;
        height: 18.5rem;
        transform: translate(-50%, -45%);
      }
    }

    .ai-grid {
      gap: 0.8rem;
    }
  }

  @include respond-below(500) {
    .ai-grid-connector {
      width: 27rem;
    }
  }

  @include respond-below(500) {
    .ai-grid__center {
      width: 4.2rem;
      height: 4.2rem;
    }

    .ai-card {
      min-width: 12rem;
    }
  }
}
