@use "../abstract/api" as *;

.capabilities-section {
  background-color: #f6f7f8;

  .card {
    min-width: calc(33.333% - 2.13rem);
    gap: 1.6rem;

    svg {
      min-width: 2.4rem;
    }

    @include respond-below(xs) {
      max-width: 32rem;
      justify-self: center;
    }
  }

  .section-cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 3.2rem;

    @include respond-below(md) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 8rem;
    }

    @include respond-below(sm) {
      gap: 4rem;
    }

    @include respond-below(xs) {
      grid-template-columns: repeat(1, minmax(32rem, 1fr));
    }
  }
}
