@use "../abstract/api" as *;

.counter-section {
  background-color: $bg-color-brand;

  @include respond-above(xs) {
    height: 34.8rem;
  }

  p {
    &:first-of-type {
      color: $text-color-accent;
    }

    &:last-of-type {
      color: $text-color-inverse;
    }
  }

  .section-inner {
    flex-wrap: wrap;
  }

  .card {
    text-align: center;
    white-space: nowrap;

    @include respond-below(1000) {
      min-width: calc(50% - 2rem);
    }

    @include respond-below(xs) {
      min-width: 100%;
    }
  }
}
