@use "../abstract/api" as *;

.customer-section {
  &.section {
    padding: 8rem 0;
  }

  .section-header {
    text-align: center;

    @include respond-below(xs) {
      padding: 0 2rem;
    }
  }
}
