@use "../abstract/api" as *;

.footer-section {
  border-top: 1px solid $color-divider;

  &.section {
    padding: 0;
    opacity: 1;
  }

  a {
    text-decoration: none;
    text-align: left;

    p {
      color: $text-color-secondary;
      text-align: center;
      line-height: 120%;
      white-space: nowrap;
    }
  }

  .section-top {
    padding: 10rem 10rem 6.4rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));

    @include respond-below(lg) {
      padding: 10rem 6.4rem 6.4rem;
    }

    @include respond-below(sm) {
      display: flex;
      flex-direction: column;
      gap: 4rem;
    }

    @include respond-below(xs) {
      padding: 8rem 2rem;
    }
  }

  .section-inner {
    gap: 0 !important;
  }

  .section-bottom {
    border-top: 1px solid $color-divider;
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 7.2rem;
    padding: 0 10rem;
    height: 15.4rem;
    align-items: center;

    @include respond-below(lg) {
      gap: 4rem;
      padding: 3.2rem 6.4rem;
    }

    @include respond-below(md) {
      gap: 2.4rem;
      padding: 3.2rem;

      a {
        p {
          white-space: initial;
        }
      }
    }

    @include respond-below(sm) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      height: auto;
      gap: 3.2rem;

      div {
        justify-content: center;
        grid-column: 1 / -1;
      }
    }

    @include respond-below(xs) {
      padding: 4rem 2rem;
      gap: 2.8rem;
      grid-template-columns: repeat(1, minmax(0, 1fr));

      > * {
        justify-content: flex-start !important;
      }

      div {
        margin-top: 1.2rem;
      }
    }
  }

  .info-data {
    gap: 10rem;
    grid-column: 3;

    @include respond-below(lg) {
      gap: 6.4rem;
    }

    @include respond-below(md) {
      grid-column: 2;
    }

    @include respond-below(xs) {
      display: flex;
      flex-direction: column;
      gap: 4rem;
    }

    h3 {
      @include respond-below(xs) {
        font-size: 2rem;
      }
    }

    a {
      p {
        text-align: left;
      }
    }

    .list:nth-of-type(2) {
      a:first-of-type {
        p {
          white-space: inherit;

          @include respond-below(sm) {
            max-width: 70%;
          }
        }
      }
    }
  }

  .list {
    gap: 2.4rem;
  }

  .list-items {
    gap: 2rem;
    align-items: flex-start;
  }
}
