@use "../abstract/api" as *;

.hero-section {
  .section-inner {
    gap: 6.4rem;
  }
  .image-wrapper {
    border-radius: 2.4rem;
    overflow: hidden;
    // width: 100%;
  }

  .hero-img {
    width: auto;
    max-width: 600px;
    max-height: 600px;
    height: 100%;
    object-fit: cover;
    border-radius: 2.4rem;
  }

  .text-wrap {
    gap: 4rem;
    max-width: 56rem;
  }

  @include respond-below(1455) {
    .text-wrap {
      max-width: 48rem;
    }
    .p-text-3xl {
      font-size: 4.8rem;
    }
  }

  @include respond-below(lg) {
    .text-wrap {
      max-width: 35rem;
    }

    .p-text-3xl {
      font-size: 4rem;
    }
  }

  @include respond-below(md) {
    .section-inner {
      flex-wrap: wrap;
      justify-content: center;
    }

    .p-text-3xl {
      font-size: 4.8rem;
    }

    .text-wrap {
      order: -1;
      max-width: 63rem;
    }

    .image-wrapper {
      text-align: center;
    }

    .hero-img {
      max-width: unset;
    }
  }

  @include respond-below(xs) {
    & {
      padding: 3.2rem 2rem 5.6rem 2rem;
    }

    .section-inner {
      gap: 4rem;
      justify-content: flex-start;
    }

    .p-text-3xl {
      font-size: 3.6rem;
      line-height: 5.4rem;
    }

    .p-text-3xl,
    .p-text-default {
      max-width: 37rem;
    }

    .text-wrap {
      max-width: 100%;
      gap: 3.2rem;
    }

    .hero-img {
      max-height: 51rem;
    }
  }
}
