@use "../abstract/api" as *;

.what-section {
  padding: 8rem 11rem 12.5rem 10rem;
  gap: 6.4rem;

  .section-header {
    gap: 2.4rem;

    p {
      max-width: 85.9rem;
    }
  }

  .section-cards {
    gap: 8.4rem;
  }

  .card-text-wrap {
    gap: 2.4rem;
  }

  .section-card {
    gap: 3.2rem;
    max-width: 35.7rem;
  }

  .card-icon-wrap {
    background-color: $text-color-primary;
    border-radius: 1.8rem;
    width: 7.2rem;
    height: 7.2rem;
  }
}
