@use "../abstract/api" as *;

.what-section {
  gap: 6.4rem;

  .section-header {
    gap: 2.4rem;

    p {
      max-width: 85.9rem;
    }
  }

  .section-cards {
    gap: 8.4rem;
  }

  .card-text-wrap {
    gap: 2.4rem;
  }

  .section-card {
    gap: 3.2rem;
    max-width: 35.7rem;
  }

  .card-icon-wrap {
    background-color: $text-color-primary;
    border-radius: 1.8rem;
    width: 7.2rem;
    height: 7.2rem;
  }
}

@include respond-below(md) {
  .what-section {
    align-items: center;

    &.section {
      padding-left: 6.4rem;
      padding-right: 6.4rem;
    }

    .section-header,
    .section-cards {
      max-width: 49rem;
    }
  }
}

@include respond-below(xs) {
  .what-section {
    align-items: flex-start;

    &.section {
      padding: 8rem 2rem;
    }

    .section-header,
    .section-cards {
      max-width: 100%;
    }

    .what-section .section-card {
      gap: 1.6rem;
    }

    .what-section .section-cards {
      gap: 4rem;
    }

    .p-text-xl {
      font-size: 2.8rem;
    }
    .p-text-md {
      font-size: 1.6rem;
    }
  }
}
