//--------------------------------------------------------------------------------------------------------------------//
//                                      THEME GLOBAL VARIABLES                                                        //
//--------------------------------------------------------------------------------------------------------------------//
/// App Global prefix
/// @group app-config
$prefix: "p-" !default;
/// App font path
/// @group app-config
$fonts-path: "/fonts/" !default;
/// App imgs path
/// @group app-config
$imgs-path: "/imgs/" !default;
/// App icon path
/// @group app-config
$icon-path: "/icons/" !default;
