@use "../abstract/config" as *;
@use "../abstract/variables/variables" as *;

$button-border-radius: 99.9rem !default;
$button-border-width: 0.1rem !default;

$button-font-weight: $font-weight-semibold !default;

$button-outline-color: $color-deep-teal !default;

$button-sm-height: 3.6rem !default;
$button-md-height: 4.2rem !default;

$button-animation: all $transition-duration $transition-animation !default;

.#{$prefix}btn {
  gap: $spacing-md;
  border-radius: $button-border-radius;
  border: $button-border-width solid transparent;
  font-size: $font-size-sm;
  font-weight: $button-font-weight;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  transition: $button-animation;
  position: relative;

  &:focus-visible {
    outline: 0.2rem solid $bg-color-brand;
    outline-offset: 0.2rem;
  }

  svg {
    transition: $button-animation;
  }

  &.animate-button {
    &::after {
      content: "";
      width: calc(100% + 0.2rem);
      height: calc(100% + 0.2rem);
      position: absolute;
      right: -0.1rem;
      top: -0.1rem;
      border-radius: inherit;
      transition: $button-animation;
      pointer-events: none;
      z-index: -1;
    }
  }
}

.#{$prefix}btn--sm {
  padding: $spacing-sm $spacing-lg;
  height: $button-sm-height;

  &.animate-button {
    &:hover {
      &::after {
        width: $button-sm-height;
      }
      svg {
        transform: rotate(45deg) translateX(0.7rem) translateY(-0.6rem);
      }
    }
  }
}

.#{$prefix}btn--md {
  padding: $spacing-md $spacing-lg;
  height: $button-md-height;

  &.animate-button {
    &:hover {
      svg {
        transform: rotate(45deg) translateX(0.5rem) translateY(-0.4rem);
      }
      &::after {
        width: $button-md-height;
      }
    }
  }
}

.#{$prefix}btn--outline {
  background-color: transparent;
  color: $button-outline-color;

  &::after {
    box-shadow: inset 0 0 0 0.1rem $button-outline-color;
  }
}

.#{$prefix}btn--brand {
  background-color: $bg-color-brand;
  color: $text-color-inverse;

  .#{$prefix}text {
    color: $text-color-inverse;
  }

  svg {
    z-index: 1;
  }

  &:hover {
    background-color: transparent;

    .#{$prefix}text {
      color: $bg-color-brand;
    }
  }

  &::after {
    background-color: $bg-color-brand;
  }
}

.#{$prefix}btn--dark {
  background-color: $text-color-primary;
  color: $text-color-inverse;

  svg {
    z-index: 2;
  }

  .#{$prefix}text {
    color: $text-color-inverse;
  }

  &:hover {
    background-color: transparent;

    .#{$prefix}text {
      color: $text-color-primary;
    }

    &::after {
      z-index: 1 !important;
    }
  }

  &::after {
    background-color: $text-color-primary;
  }
}
