@use "../abstract/config" as *;
@use "../abstract/api" as *;

$aside-menu-padding-x: 2rem;
$aside-menu-header-height: 5.5rem;
$aside-menu-nav-link-height: 7.8rem;
$aside-menu-nav-link-border-color: #c7d0d9;

.#{$prefix}aside-wrap {
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 999;

  &.is-closing {
    .#{$prefix}aside-menu {
      animation: slide-out-right 300ms ease 50ms both;
    }
  }
}

.#{$prefix}aside-menu {
  width: 100%;
  background: rgba($bg-color-inverse, 0.6);
  -webkit-backdrop-filter: blur(2rem) saturate(150%);
  backdrop-filter: blur(2rem) saturate(150%);
  animation: slide-in-right 300ms ease 50ms both;
}

.#{$prefix}aside-menu-nav {
  padding: 0 $aside-menu-padding-x;
  overflow-y: auto;
}

.#{$prefix}aside-header {
  min-height: $aside-menu-header-height;
  position: sticky;
  top: 0;
  padding: 0 $aside-menu-padding-x;
}

.#{$prefix}aside-menu-nav-link {
  min-height: $aside-menu-nav-link-height;
  width: 100%;
  white-space: nowrap;
  color: $text-color-primary;
  text-decoration: none;
  position: relative;

  &::after {
    content: "";
    bottom: 0;
    height: 0.2rem;
    position: absolute;
    width: 100%;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform $transition-duration $transition-animation 50ms;
    background-color: $bg-color-brand;
  }

  &:hover,
  &.active {
    color: $bg-color-brand;

    &:after {
      transform: scaleX(1);
    }
  }

  &:not(:last-of-type) {
    border-bottom: 0.1rem solid $aside-menu-nav-link-border-color;
  }
}

.sidemenu-action-btn {
  margin-top: 2rem;
  align-self: flex-start;
  margin-left: 2rem;
  min-width: 18.6rem;
  justify-content: space-between;
}
