@use "../abstract/api" as *;

.slider-viewport {
  overflow: hidden;
  gap: 4rem;
  padding: 0 18.6rem;
  max-width: 100%;

  @include respond-below(1300) {
    .slide-left {
      padding: 3.2rem;
    }
  }

  @include respond-below(lg) {
    .slider-slide {
      height: 40rem;
    }
    .slide-right {
      width: 37rem;
    }

    & {
      padding: 0 10.6rem;
    }
  }

  @include respond-below(md) {
    & {
      padding: 0 3.2rem;
    }
  }

  @include respond-below(784) {
    & {
      padding: 0 6.4rem;
    }

    .bg-graphic {
      display: none;
    }

    .slider-slide {
      flex-direction: column;
      padding: 1.8rem;
      gap: 2.4rem;
      max-width: 44.4rem;
      height: unset;
    }

    .slide-right {
      order: -1;
      padding: 0;
      height: 41rem;
    }

    .slide-left {
      padding: 0;
    }
  }

  @include respond-below(xs) {
    padding: 0 2rem;

    .slide-left {
      p {
        &:first-of-type {
          font-size: 2.8rem;
        }

        &:last-of-type {
          font-size: 1.8rem;
        }
      }
    }

    .top-text-wrap {
      gap: 1.6rem;
    }
  }

  @include respond-below(500) {
    .slide-right {
      max-width: 31.5rem;
      max-height: 31rem;
    }
    .slider-slide {
      max-width: 35.3rem;
    }
  }

  @include respond-below(400) {
    .slide-right {
      max-width: 100%;
      max-height: 26rem;
    }
    .slider-slide {
      max-width: 30rem;
    }
  }
}

.top-text-wrap {
  z-index: 2;
  gap: 2rem;
}

.slider-container {
  display: flex;
  gap: 3.2rem;
}

.slider-slide {
  flex: 0 0 100%; // in order to see next slide partialy
  background-color: #e6f9ff;
  max-width: 106.7rem;
  border-radius: 2.4rem;
  height: 52.4rem;

  &.active-slide {
    .bg-graphic {
      animation: fade-in 1000ms ease-out 500ms forwards;
    }
  }
}

.slider-actions-wrap {
  gap: 1.6rem;
}

.slider-action-btn {
  padding: 1.1rem 1.9rem;
  border-radius: 2.4rem;
  border: 1px solid $color-border;
  cursor: pointer;
  background-color: transparent;

  &:hover {
    background-color: $bg-color-brand;

    path {
      transition: all $transition-duration $transition-animation;
      stroke: #fff;
    }
  }

  &.disabled {
    background-color: transparent !important;
    opacity: 0.4;

    path {
      transition: all $transition-duration $transition-animation;
      stroke: $bg-color-brand;
    }
  }
}

.slide-right {
  padding: 3.2rem 3.2rem 3.2rem 0;
  width: 49rem;
  height: 100%;
  position: relative;

  // Make direct text children stack above the graphic
  > * {
    position: relative;
    z-index: 1;
  }

  img {
    object-fit: contain;
    border-radius: 1.6rem;
    width: auto;
    height: 100%;
  }

  .bg-graphic {
    background-image: url("/graphics/customer.svg");
    position: absolute;
    right: 0;
    top: 0;
    width: 698px;
    background-position: right;
    background-repeat: no-repeat;
    height: 100%;
    background-size: contain;
    opacity: 0;
  }
}

.slide-left {
  padding: 9.3rem 9.3rem 3.2rem;
  gap: 2rem;
  flex: 1;
  position: relative;

  p {
    max-width: 34.4rem;
  }
}
