@use "../config" as *;
@use "../variables/variables" as *;

.#{$prefix}text-xs {
  font-size: $font-size-xs;
}

.#{$prefix}text-sm {
  font-size: $font-size-sm;
}

.#{$prefix}text-md {
  font-size: $font-size-md;
  line-height: 126%;
}

.#{$prefix}text-lg {
  font-size: $font-size-lg;
}

.#{$prefix}text-xl {
  font-size: $font-size-xl;
}

.#{$prefix}text-2xl {
  font-size: $font-size-2xl;
}

.#{$prefix}text-3xl {
  font-size: $font-size-3xl;
  line-height: 7.6rem;
  font-weight: $font-weight-semibold;
}

.#{$prefix}text-4xl {
  font-size: $font-size-4xl;
}

.#{$prefix}text-5xl {
  font-size: $font-size-5xl;
}
