@use "../variables/variables" as *;
@use "../config" as *;

.#{$prefix}text-gradient {
  background: linear-gradient(
    to right,
    $text-gradient-color-1 0%,
    $text-gradient-color-2 83%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.#{$prefix}text-default {
  color: $text-color-primary;
}
